.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(252, 127, 3, 0.763), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-3px);
}

.card {
  position: relative;
  width: 220px;
  height: 320px;
  border-radius: 14px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 60px #5c3d0cab, -15px -15px 60px #caa874;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 290px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.195);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff6600;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

img {
  width: 94%;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

h3 {
  margin: 10px 0;
  color: rgb(255, 255, 255);
  font-size: 1.05em;
  margin-top: 10px;
}

p {
  color: #ffffff;
  font-size: 0.95em;
  margin-top: 5px;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}