.table-container {
    position: absolute;
    top: 112px;
    right: 100px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: transparent;
    color: white;
  }
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  